@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px 0px 150px;
}

#links a {
    text-decoration: none;
    margin: 0px 10px;
}

#links a:hover {
    color: hsl(5, 85%, 63%);
}

main {
    margin: 50px 150px;
    display: flex;
}

main div:first-child img {
    width: 100%;
}

#sidebar {
    background-color: hsl(240, 100%, 5%);
    color: white;
    padding: 20px;
    width: 580px;
    margin-left: 20px;
}

main div div div button {
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: white;
    padding: 10px 20px;
    font-weight: 800;
    letter-spacing: 5px;
}

hr {
    margin: 20px 0;
}

.section {
    display: flex;
    margin-bottom: 50px;
}

#section-cont {
    display: flex;
    margin: 0 150px;
}

.section img {
    height: 90%;
    width: 100px;
    margin-right: 10px;
}

#hamburger {
    display: none;
}

#hamburger:hover {
    cursor: pointer;
}

#sub-main div button:hover {
    background-color:hsl(240, 100%, 5%);
    cursor: pointer;
}

.title:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

#mobile-menu {
    background: white;
    z-index: 2;
    height: 100vh;
    position: absolute;
    right: -300px;
    transition: right 2s;
    top: 0;
}

#mobile-menu div {
    display: flex;
    flex-direction: column;
    margin: 25px 0px 0px 10px;
}

#mobile-menu div a {
    padding: 10px 100px 10px 5px;
    text-decoration: none;
    color: black;
}

#overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    top: 0;
    display: none;
    z-index: 1;
}

@media screen and (max-width: 1200px) {
    #section-cont {
        display: block;
    }

    nav, main {
        margin: 0;
        padding: 10px;
    }

    #sidebar {
        width: auto;
        margin: 50px 0;
    }

    #section-cont {
        margin: 0;
        padding: 10px;
    }

    .section img {
        height: auto;
    }
}